.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.login__form {
  display: flex;
  flex-direction: column;
}

.login__form > h1 {
  font-size: 32px;
  margin-bottom: 15px;
  padding-bottom: 10px;
  letter-spacing: -1px;
}

.login__form > input {
  min-width: 380px;
  padding: 18px 0;
  padding-left: 15px;
  margin-bottom: 10px;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.24);
  border-radius: 2px;
  font-size: 15px;
}

.submit__btn {
  padding: 18px 30px;
  margin-top: 10px;
  background: black;
  border: none;
  color: white;
  font-size: 14px;
  border-radius: 3px;
  cursor: pointer;
}

.logout__button {
  min-width: 300px;
  padding: 17px 30px;
  margin-top: 20px;
  background: black;
  border: none;
  color: white;
  font-size: 14px;
  border-radius: 3px;
}

.user__name {
  color: #8d0ada;
}
