.logout{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    
}

.logout__button{
    min-width: 300px;
    padding: 17px 30px;
    margin-top: 20px;
    background: black;
    border: none;
    color: white;
    font-size: 14px;
    border-radius: 3px;
    cursor: pointer;
}

.user__name{
    color: brown;
}